{%extends "port/base.html" %}
{% load static %}
{% block content %}
<div class="html-ex">
    <p class="sum-text">This website was practice for ecommerce website, but I was not able to learn the rest on how to make
                the website an ecommerce site. None the less I still do like this website since it was one of the ones I
                finished at the time, it also has a lot of pages and it looks simple so it should be easy to change and
                update it. </p>
    <div class="html-items">
        <p class="page-title">Home Page</p>
        <div class="page-full">
            <img src="{% static 'images/html/50s cafe/50s_cafe_home_full.jpeg' %}" alt="img of home page">
        </div>
        <div class="res-text">
            <div class="res">
                <img src="{% static 'images/html/50s cafe/50s_cafe_home_res.jpeg' %}" alt="img of home page css">
            </div>
            <p>This website is made in brackets and I made it responsive with media tags. The home page is a simple page
                that shows a bit about the other pages.</p>
        </div>
        <p class="page-title">Home Page HTML</p>
        <div class="page-html">
            <img src="{% static 'images/html/50s cafe/50s_cafe_home.jpeg' %}" alt="img of home page responsive">
        </div>
    </div>

    <div class="html-items">
        <p class="page-title">Menu page</p>
        <div class="page-full">
            <img src="{% static 'images/html/50s cafe/50s_cafe_menu_full.jpeg' %}" alt="img of menu page full screen">
        </div>
        <div class="res-text">
            <div class="res">
                <img src="{% static 'images/html/50s cafe/50s_cafe_menu_res.jpeg' %}" alt="igm of menu responsive screen">
            </div>
            <p>The menu page shows the type of items that are sold and give a small description of the items. The responsive
                page makes chages the page to make the items fit in the page as it is smaller.</p>
        </div>
        <p class="page-title">Menu Page HTML</p>
        <div class="page-html">
            <img src="{% static 'images/html/50s cafe/50s_cafe_menu.jpeg' %}" alt="img of menu page css">
        </div>
    </div>

    <div class="html-items">
        <p class="page-title">Cats page</p>
        <div class="page-full">
            <img src="{% static 'images/html/50s cafe/50s_cafe_cats_full.jpeg' %}" alt="img of cats page full screen">
        </div>
        <div class="res-text">
            <div class="res">
                <img src="{% static 'images/html/50s cafe/50s_cafe_cats_res.jpeg' %}" alt="igm of menu responsive screen">
            </div>
            <p>The cat page is similar to the others, but the the responsive page didn't change much.</p>
        </div>
        <p class="page-title">Cats Page HTML</p>
        <div class="page-html">
            <img src="{% static 'images/html/50s cafe/50s_cafe_cats.jpeg' %}" alt="img of menu page css">
        </div>
    </div>

    <div class="html-items">
        <p class="page-title">Shop page</p>
        <div class="page-full">
            <img src="{% static 'images/html/50s cafe/50s_cafe_shop_full.jpeg' %}" alt="img of shop page full screen">
        </div>
        <div class="res-text">
            <div class="res">
                <img src="{% static 'images/html/50s cafe/50s_cafe_shop_res.jpeg' %}" alt="igm of shop responsive screen">
            </div>
            <p>The shop page has all the items line up and with a button on the bottom of the item. The page changes by
                making all the items on the page stack on top of each other along with the buttons and names.</p>
        </div>
        <p class="page-title">Shop Page HTML</p>
        <div class="page-html">
            <img src="{% static 'images/html/50s cafe/50s_cafe_shop.jpeg' %}" alt="img of shop page css">
        </div>
    </div>

    <div class="html-items">
        <p class="page-title">Cart page</p>
        <div class="page-full">
            <img src="{% static 'images/html/50s cafe/50s_cafe_cart_full.jpeg' %}" alt="img of cart page full screen">
        </div>
        <div class="res-text">
            <div class="res">
                <img src="{% static 'images/html/50s cafe/50s_cafe_cart_res.jpeg' %}" alt="igm of cart responsive screen">
            </div>
            <p>On this page there is nothing, but I was planning to add the ecommerce part of the website here to make a
                cart with the items from the shop page.</p>
        </div>
        <p class="page-title">Cart Page HTML</p>
        <div class="page-html">
            <img src="{% static 'images/html/50s cafe/50s_cafe_cart.jpeg' %}" alt="img of cart page css">
        </div>
    </div>

    <div class="html-items">
        <p class="page-title">About page</p>
        <div class="page-full">
            <img src="{% static 'images/html/50s cafe/50s_cafe_about_full.jpeg' %}" alt="img of about page full screen">
        </div>
        <div class="res-text">
            <div class="res">
                <img src="{% static 'images/html/50s cafe/50s_cafe_about_res.jpeg' %}" alt="igm of about responsive screen">
            </div>
            <p>The about just gives a brief description on what the sit is about and has.</p>
        </div>
        <p class="page-title">About Page HTML</p>
        <div class="page-html">
            <img src="{% static 'images/html/50s cafe/50s_cafe_about.jpeg' %}" alt="img of about page css">
        </div>
    </div>
    <p class="page-title-css">50's cafe CSS</p>
    <div class="page-css">
        <img src="{% static 'images/html/50s cafe/50s_cafe_css.jpeg' %}" alt="img of page css">
    </div>
</div>

{% endblock content %}